h3 {
  margin: 0;
}

.ant-collapse-content-box {
  padding: 8px 12px!important;
}

.ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header {
  padding: 8px 16px;
}

.ant-form-item {
  margin-bottom: 12px;
}